<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>CMPE 275 Project 2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
                                   <!-- <link rel="shortcut icon" href="../assets/ico/favicon.png"> -->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><font color="white" size="2.5pt">Welcome {{ fName }} {{ lName }} [Mooc: {{selectedMooc}}]</font></a>          
            <div class="nav-collapse collapse">
            <ul class="nav">
               <li><a href="/mooc/home/">Home</a></li>
               <li><a href="/mooc/list_category">Categories</a></li>
               <li><a href="/mooc/list_course/">Courses</a></li>
               <li><a href="/mooc/list_discussion/">Discussions</a></li>
               <li><a href="/mooc/list_announcement/">Announcements</a></li>
               <li class="active"><a href="#">Quizzes</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">MOOCS<b class="caret"></b></a>
                {% if latest_mooc_list %}
                	<ul class="dropdown-menu">
				    {% for mooc in latest_mooc_list %}
        				<li><a href="/mooc/home/?id={{ mooc.id }}">{{ mooc.group }}</a></li>
    				{% endfor %}
    				</ul>
				{% else %}
    				<p>No moocs registered.</p>
				{% endif %}
              </li>
              <li><a href="/mooc/profile/">Profile</a></li>
              <li><a href="/mooc/logout/">Logout</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="row">
        <a href="/mooc/quiz/"><button class="btn btn-primary" type="button">Add Quiz</button></a>
      </div>
      <div class=row>
      <h5>{{message}}</h5>
      <table class="table table-bordered">
      <tr>
      	<th style="width: 2%;">No.</th>
      	<th style="width: 50%;">Quiz</th>
      	<th style="width: 58%;">Action</th>
      </tr>
        {% for quiz in quiz_list %}
        <tr>
	 		<td>{{forloop.counter}}</td>
			<td><a href="/mooc/get_quiz?id={{quiz.id}}">Quiz {{forloop.counter}}</a></td>
			<td><a href="/mooc/add_questionhtml?id={{quiz.id}}&courseId={{quiz.courseId}}"><button class="btn" type="button"><b class="icon-plus-sign"></b>Add Question</button></a>
			&nbsp;<a href="/mooc/get_quiz?id={{quiz.id}}"><button class="btn" type="button"><b class="icon-pencil"></b>Take Quiz</button></a>
			&nbsp;&nbsp;<a href="/mooc/edit_quiz?id={{quiz.id}}&courseId={{quiz.courseId}}"><button class="btn" type="button"><b class="icon-pencil"></b>Edit Quiz</button></a>
			&nbsp;&nbsp;&nbsp;<a href="/mooc/remove_quiz?id={{quiz.id}}"><button class="btn" type="button"><b class="icon-remove-sign"></b>Delete Quiz</button></a>
		</tr>
		{% endfor %}
	  </table>
      </div>
      <hr>
      <footer>
        <p>&copy; Annonymous Group 2013</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/bootstrap-transition.js"></script>
    <script src="/assets/js/bootstrap-alert.js"></script>
    <script src="/assets/js/bootstrap-modal.js"></script>
    <script src="/assets/js/bootstrap-dropdown.js"></script>
    <script src="/assets/js/bootstrap-scrollspy.js"></script>
    <script src="/assets/js/bootstrap-tab.js"></script>
    <script src="/assets/js/bootstrap-tooltip.js"></script>
    <script src="/assets/js/bootstrap-popover.js"></script>
    <script src="/assets/js/bootstrap-button.js"></script>
    <script src="/assets/js/bootstrap-collapse.js"></script>
    <script src="/assets/js/bootstrap-carousel.js"></script>
    <script src="/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>
